<ion-header class="topBar">
  <img class="appLogo" src="../../assets/takeANumber.png" start />
  <ion-title>
    Manage Customers
  </ion-title>
  <img class="restaurantLogo" src="{{restaurantLogo}}" end />
</ion-header>
<ion-header>
  <ion-segment centered color="primary" [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="waiting">
      <ion-label>Waiting ({{waitingCustomersTotal}})</ion-label>
      <ion-icon color="primary" name="alarm"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="ready" checked>
      <ion-label>Ordering ({{readyToOrderTotal}})</ion-label>
      <ion-icon color="success" name="megaphone"></ion-icon>
    </ion-segment-button> 

    <ion-segment-button value="on-hold" checked>
      <ion-label>On Hold ({{onHoldTotal}})</ion-label>
      <ion-icon color="danger" name="pause-circle"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding>
    <div [ngSwitch]="tab">

      <div *ngSwitchCase="'waiting'">
        <ion-item *ngIf="waitingCustomersTotal < 1">
          <ion-label>
          <h2>No Waiting Customers.</h2>
          </ion-label>
        </ion-item>

        <ion-list class="listContainer waitingList" *ngFor="let item of itemList | async">
          <ion-item-sliding *ngIf="item.status == 'waiting'">
            <ion-item>
              <ion-label>
                <h2>{{item.id}} &mdash; {{item.name}}</h2>
              </ion-label>
              <ion-note slot="end">
                {{item.time}}
              </ion-note>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option color="success" id="{{item.timeStamp + '_' + item.name}}" (click)="markReady($event)">
                <ion-icon slot="icon-only" name="megaphone" id="{{item.timeStamp + '_' + item.name}}">
                </ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option color="danger" id="{{item.timeStamp + '_' + item.name}}" (click)="markOnHold($event)">
                <ion-icon slot="icon-only" name="pause-circle" id="{{item.timeStamp + '_' + item.name}}"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

      <div *ngSwitchCase="'ready'">
        <ion-item *ngIf="readyToOrderTotal < 1">
          <ion-label>
          <h2>No Customers Ready to Order.</h2>
          </ion-label>
        </ion-item>

        <ion-list class="listContainer readyToOrderList" *ngFor="let item of itemList | async">
          <ion-item-sliding *ngIf="item.status == 'ready'">
            <ion-item>
              <ion-label>
                <h2>{{item.id}} &mdash; {{item.name}}</h2>
              </ion-label>
              <ion-note slot="end">
                <ion-button id="{{item.timeStamp + '_' + item.name}}" (click)="markInProgress($event)">
                  <ion-icon slot="start" name="construct"></ion-icon>
                  Start Order
                </ion-button><br>
                {{item.time}}
              </ion-note>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option color="primary" id="{{item.timeStamp + '_' + item.name}}" (click)="markWaiting($event)">
                <ion-icon slot="icon-only" name="alarm" id="{{item.timeStamp + '_' + item.name}}">
                </ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option color="danger" id="{{item.timeStamp + '_' + item.name}}" (click)="markOnHold($event)">
                <ion-icon slot="icon-only" name="pause-circle" id="{{item.timeStamp + '_' + item.name}}"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

      <div *ngSwitchCase="'on-hold'">
        <ion-item *ngIf="onHoldTotal < 1">
          <ion-label>
            <h2>No Customers On Hold.</h2>
          </ion-label>
        </ion-item>
        <ion-list class="listContainer onHoldList" *ngFor="let item of itemList | async">
          <ion-item-sliding *ngIf="item.status == 'on-hold'">
            <ion-item>
              <ion-label>
                <h2>{{item.id}} &mdash; {{item.name}}</h2>
              </ion-label>
              <ion-note slot="end">
                {{item.time}}
              </ion-note>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option color="primary" id="{{item.timeStamp + '_' + item.name}}" (click)="markWaiting($event)">
                <ion-icon slot="icon-only" name="alarm" id="{{item.timeStamp + '_' + item.name}}"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option color="success" id="{{item.timeStamp + '_' + item.name}}" (click)="markReady($event)">
                <ion-icon slot="icon-only" name="megaphone" id="{{item.timeStamp + '_' + item.name}}"
                  (click)="markReady($event)"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-content>