<ion-header class="topBar">
  <img class="appLogo" src="../../assets/takeANumber.png" start />
  <ion-title>
    Check<br/>Stats
  </ion-title>
  <img class="restaurantLogo" src="{{restaurantLogo}}" end />
</ion-header>

<ion-content class="account-info" [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <h3>{{formattedDate}}</h3>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-select placeholder="{{today}}" (ionChange)="onChange($event)" disabled></ion-select> -->
  <ion-row>
    <ion-col>
      <ion-card class="statBoxes">
        <ion-card-header>
          <ion-card-content>
            <h1>{{completedOrders}}</h1>
          </ion-card-content>
          <ion-card-subtitle>Completed Orders</ion-card-subtitle>
        </ion-card-header>
      </ion-card>    
    </ion-col>  

    <ion-col>
      <ion-card class="statBoxes">
        <ion-card-header>
          <ion-card-content>
            <h1>{{cancelledOrders}}</h1>
          </ion-card-content>
          <ion-card-subtitle>Cancelled Orders</ion-card-subtitle>
        </ion-card-header>
      </ion-card>    
    </ion-col>   
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Wait Times<br/><span style="font-size:0.75em">(From Getting Number Until Ready to Order)</span></ion-card-title>
    </ion-card-header>
    <ion-card-content class="waitChartContent">
      <canvas #waitTimeChart></canvas>
      <p>Average Wait Time: <strong>{{avgWaitTime}} Minutes</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Order Times<br/><span style="font-size:0.75em">(From Getting Number to Order Completion)</span></ion-card-title>
    </ion-card-header>
    <ion-card-content class="totalChartContent">
      <canvas #totalTimeChart></canvas>
      <p>Average Total Order Time: <strong>{{avgOrderTime}} Minutes</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-card padding>
    <button class="fullWidth inactive" (click)="logout()">Logout</button>
  </ion-card>

</ion-content>